#root {
  margin: 0;
}
#task-form {
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}
h3 {
  margin-left: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  background-color: gray;
}
.task-card {
  width: 250px;
  height: 250px;
  background-color: rgb(217, 240, 159);
  color: rgb(4, 64, 44);
  padding: 15px;
}
select,
#status-filter {
  padding: 5px 15px;
  border: solid 1px white;
  border-radius: 10px;
  margin: 0 70px 0 20px;
  background-color: rgba(247, 68, 74, 0.814);
  color: rgb(237, 245, 245);
}
select {
  margin: 0;
}

textarea {
  width: 400px;
  border: solid 1px rgb(8, 163, 135);
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
}
.editdesc {
  width: 200px;
  height: 50px;
  background-color: inherit;
  color: inherit;
  border: none;
}

#tasks-header {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(8, 163, 135);
  background-color: black;
}
.btn {
  color: white;
  background-color: rgb(8, 163, 135);
  border-radius: 10px;
  margin: 0 25px;
  padding: 10px;
  width: 70px;
}
h2 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color: rgb(8, 163, 135);
  background-color: black;
  padding: 1rem;
  margin: 0;
}
a {
  cursor: pointer;
}
a:hover {
  background-color: rgb(49, 151, 132);
  color: white !important;
}
p,
select {
  margin-left: 20px;
}

h4 {
  margin-top: 10px;
}
