#root {
  margin: 0;
}
#task-form {
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}
h3 {
  margin-left: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  background-color: gray;
}
.task-card {
  width: 250px;
  height: 200px;
  background-color: rgb(217, 240, 159);
  color: rgb(4, 64, 44);
  padding: 25px;
}
select,#status-filter{
  padding:5px 15px;
  border:solid 1px white;
  border-radius: 10px;
  margin: 0 70px 0 20px;
  background-color: rgba(247, 68, 74, 0.814);
  color: rgb(237, 245, 245);
}
input {
  width: 400px;
  border: solid 1px rgb(8, 163, 135);
  border-radius: 5px;
  padding:0   10px;
}
#tasks-header {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(8, 163, 135);
  background-color: black;
}
#btn-add-task {
  color: white;
  background-color: rgb(8, 163, 135);
  border-radius: 10px;
}
h2 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color: rgb(8, 163, 135);
  background-color: black;
  padding: 1rem;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
